In [74]:
# Importaciones
import numpy as np
import scipy as sci
import sympy as sp
import pandas as pd
import requests
import json
from math import *

<a href="https://colab.research.google.com/github/ComputationalMethods/Evaluacion_2022-1/blob/main/Examenes/Examen_2022_1_02_enunciado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examen 2: Métodos computacionales
A)
1. Usando su número de cédula cómo semilla, obtenga un numero entero aleatorio, $n$, entre 2 y 20.
2. Usando el $n$ obtenido, haga una estimación de la siguiente integral hasta dos cifras significativas, usando el método `quad` del módulo `integrate` de Scipy
$$
\int_0^\infty \sin(x^n)\operatorname{d}x
$$
Sugerencia. Compare con el valor obtenido desde https://www.wolframalpha.com/ o [sympy](https://stackoverflow.com/questions/65862611/integration-of-sin-x-dx-problem-in-python-programming-implementation)

In [77]:
# Punto 1 
np.random.seed(1214748203)
Valn = np.random.randint(2,20)
Valn

7

In [78]:
def integrar(x,n):
    return np.sin(x**n)

In [99]:
LimiteInf = 0
# arreglar
LimiteSup = 1.09485958 # np.inf
###
resultado, error = sci.integrate.quad(integrar,LimiteInf,LimiteSup,args=(Valn,))
print("El valor de la integral: ", resultado)
print("El error: ", error)

El valor de la integral:  0.20815400412547055
El error:  7.912638358447254e-14

Valor obtenido en https://www.wolframalpha.com/ es: 

![](resultadoWA.PNG)

B) Cargue los datos disponibles en:

https://raw.githubusercontent.com/ComputationalMethods/Evaluacion_2022-1/main/data/lista_pares.json

como un DataFrame de pandas. Este contendrá dos columnas. La columna `lista`, con una lista de 8 enteros (algunos de ellos repetidos) y una columna `pares` correspondiente a un diccionario
con dos items: un entero rotulado con `'S'` y una lista de pares de enteros routulada con `'ψ'`. Note que el resultado de la suma en valor absoluto de los dos enteros en cada uno de los pares reproduce el valor del correspondiente `'S'` 

Seleccione la fila del DataFrame con el índice correspondiente a los dos últimos dígitos de su cédula y desarrolle los siguientes puntos con la correspondiente  `lista` y `pares`:
1. Construya una matrix $8\times 8$ _simétrica_ donde cada fila y la correspondiente columna correspondan a un entero de la `lista` (incluyendo los repetidos); de manera que en los cruces de filas y columnas definidos por los pares de enteros de `'ψ'`, se genere una entrada aleatoria mayor que cero y menor o igual que 1, con las demas entradas iguales a cero.
1. Calcule el determinante y establezca explícitamente si es diferente cero (tenga en cuenta la precisión numérica). Recuerde que si el determinante es cero, se espera que al menos uno de los autovalores sea cero
2. Organize los autovalores y autovectores de menor a mayor en valor absoluto y compruebe que las matriz de autovectores organizada da lugar a los autovalores en el orden correcto. 
3. Establezca explícitamente _cuantos_ autovalores son degenerados en valor absoluto.

In [143]:
Pagina = "https://raw.githubusercontent.com/ComputationalMethods/Evaluacion_2022-1/main/data/lista_pares.json"
Archivo = json.loads(requests.get(Pagina).text)
Df = pd.DataFrame(Archivo)
Df

,lista,pares
0,"[1, 1, 2, 3, -4, -4, -5, 6]","{'S': 2, 'ψ': [[3, -5], [2, -4], [-4, 6], [1, ..."
1,"[1, 2, 2, 2, -3, -5, -6, 7]","{'S': 4, 'ψ': [[2, 2], [-3, 7], [1, -5], [2, -..."
2,"[1, -2, -2, 4, 5, -7, -7, 8]","{'S': 9, 'ψ': [[4, 5], [1, 8], [-2, -7], [5, 4..."
3,"[1, 2, 2, 4, -5, -5, -7, 8]","{'S': 3, 'ψ': [[4, -7], [-5, 8], [2, -5], [1, ..."
4,"[2, -3, -4, 5, -6, 7, 7, -8]","{'S': 1, 'ψ': [[-6, 7], [7, -8], [5, -6], [2, ..."
...,...,...
240,"[2, -4, -5, 10, 11, -16, -17, 19]","{'S': 21, 'ψ': [[-4, -17], [-5, -16], [10, 11]..."
241,"[5, -7, -7, 11, 13, -17, -17, 19]","{'S': 24, 'ψ': [[5, 19], [-7, -17], [11, 13], ..."
242,"[4, -5, -7, 8, -17, 18, 18, -19]","{'S': 1, 'ψ': [[-7, 8], [4, -5], [-17, 18], [1..."
243,"[2, 2, 5, -7, 10, -14, -17, 19]","{'S': 12, 'ψ': [[2, -14], [2, 10], [-7, 19], [..."
244,"[2, -3, -3, 6, 10, -13, -18, 19]","{'S': 16, 'ψ': [[-3, -13], [6, 10], [2, -18], ..."

In [144]:
MisDatos = Df.iloc[3,:]
Lista = MisDatos["lista"]
Pares = MisDatos["pares"]
print(Lista)
print(Pares)

[1, 2, 2, 4, -5, -5, -7, 8]
{'S': 3, 'ψ': [[4, -7], [-5, 8], [2, -5], [1, 2], [-7, 4], [8, -5], [-5, 2], [2, 1]]}

In [145]:
# Testeando como crear una matriz para la comparación

Objetivo = np.zeros((8,8))
for i in range(0,len(Objetivo[0,:])):
    Objetivo[abs(Pares['ψ'][i][0])-1,abs(Pares['ψ'][i][1])-1] = 1

array([[0., 1., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.]])